.user-option-icon{
    border-style: none;
    background-color: #fff;
    font-size: 16px;
}
.user-option-icon i {
    font-size: 20px;
}
.ant-menu-item-selected a, .ant-menu-item-selected a:hover{
    color: white;
    
}
.ant-menu-item-selected .ant-menu-title-content{
    color: white;
}
.ant-select-item-option-selected:not(.ant-select-item-option-disabled){
    color: white;
}
.bgcolor{
    background-color: #e6fffb;
    min-height: 100vh;
}
.relative{
    height: 28px;
    width: 80px;
}
.show-picker{
    position: absolute;
    top: 35px;
    right: 10px;
    cursor: pointer;
    z-index: 10;
    width: 70px;
    color: gray;
    text-decoration: underline;
}
.chrome-picker{
    position: absolute !important;
    top: 110px;
    right: 0;
    z-index: 99;
}
h1, h2, h3, h4, h5, h6, p{
    margin-bottom: 0;
}

@keyframes click{
    0% { box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
        transform: scale(0.8);
    }
    100% { box-shadow: none; transform: scale(1);}
    
}
button:active{
    animation: click 0.5s;
}

.admin-btn-detail, .admin-btn-edit{
    height: 35px;
    border-radius: 3px;
    box-sizing: border-box;
    width: 70px;
}
.admin-btn-detail{
    border: 1px solid #52c41a;
    background-color: white;
    color: #52c41a;
    margin-right: 5px;
}
.admin-btn-edit{
    border-style: none;
    /* border: 1px solid #ffc53d; */
    margin-left: 5px;
    background-color: #ffc53d;
    color: white;
}

.card.category .card-image{
    transition: 0.3s;
    position: relative;
    cursor: pointer;
}
.card.category .card-body{
    max-height: 50px;
}
.card.category .card-behind{
    position: absolute;
    top: 0;
    width: 0;
    background: rgba(0, 0, 0, 0.5);
    filter: brightness(75px);
    -webkit-filter: brightness(75px);
    z-index: 99;
    width: 100%;
    height: calc(100% - 50px);
    cursor: pointer;
    transition: 0.5s;
    opacity: 1;
}
.card-behind h6{
    text-transform: uppercase;
}
.card.category:hover .card-behind{
    filter: brightness(75px);
    -webkit-filter: brightness(75px);
    opacity: 0;
}
