.detail-image-main{
    width: auto;
    max-height: 60vh;
    display: block;
    margin: 0 auto;
    padding: 10px;
}
.image-container{
    width: 100%;
    overflow: hidden;
}
.sub-image-container{
    overflow: hidden;
    margin-top: 10px;
    cursor: pointer;
    padding: 10px 0;
}
.sub-image-container img{
    height: 100px;
    width: auto;
    display: block;
    margin: 0 auto;
}
.product-name{
    font-weight: bolder;
    position: relative;
}
.product-name::before{
    content: '';
    width: 100px;
    height: 5px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -10px;
}
.product-price{
    font-weight: lighter;
    margin: 30px 0;
    margin-bottom: 20px;
}
.bg-e{
    background-color: #eee;
}
.detail-footer{
    margin-top: 40px;
    display: flex;
}
.color-block-detail{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin-left: 15px;
    position: relative;
}
.color-block-detail::before{
    content: '';
    position: absolute;
    left: -5px;
    top: -5px;
    width: 30px;
    height: 30px;
    border: 1px solid silver;
    border-radius: 50%;
}
.color-detail{
    align-items: center;
}
p.more-detail{
    font-size: 20px;
    padding: 10px;
    border-bottom: 1px solid rgb(231, 229, 229);
}
.loading-image{
    min-height: 60vh;
    width: 100%;
}
.loading-sub-image{
    height: 100px;
}
.detail-image-button-container{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -10px;
    display: flex;
    justify-content: space-between;
}
.detail-image-button-container button{
    color: black;
    border-style: none;
    font-size: 20px;
    background:transparent;
    z-index: 99;
    width: 35px;
    display: flex;
    align-items: center;
    height: 120px;
    justify-content: center;
}
.menu-container{
    width: 230px;
}
.product-container{
    width: calc(100% - 230px);
}
.product-menu{
    min-height: 80vh;
    border-left: 0;
    padding: 20px 10px;
    width: 230px;
}
.product-menu-title{
    font-size: 18px;
    display: unset;
}
.product-menu h4{
    margin-bottom: 30px;
    padding-left: 15px;
    position: relative;
}
.product-menu h4 i{
    font-weight: lighter;
}
.product-menu h4::before{
    position: absolute;
    content: '';
    left: 15px;
    top: 40px;
    height: 2px;
    width: 70px;
    background-color: silver;
}
.product-menu-item{
    font-size: 16px;
    padding: 6px 18px;
    padding-right: 5px;
    display: block;
    text-transform: uppercase;
    transition: 0.5s;
}
.product-menu-item:hover{
    background-color: rgba(0, 0, 0, 0.03);
}
.product-menu-item.active{
    background-color: rgba(0, 0, 0, 0.04);
}
.product-menu .menu-color{
    width: 40px;
    height: 40px;
}
.product-vertical-list .box-item{
    animation: zoom 0.6s;
    transition: 0.6s;
}
.round{
    border-radius: 20px;
}
@keyframes zoom{
    from {
        transform: scale(0.5);
    }
    to{
        transform: scale(1);
    }
}
.product-vertical-list .box-image{
    overflow: hidden;
    background-color: #f0f0f0;
    height: 260px;
    position: relative;
}
.product-vertical-list .box-image img{
    width: auto;
    height: 260px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform-origin: right;
}
.product-vertical-list .box-image .box-behind{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    height: 100%;
    width: 38px;
    padding: 8px;
    padding-left:0 ;
    transition: 0.3s;
    justify-content: flex-start;
    transform: translateX(40px);
}
.product-vertical-list .box-image .box-behind button{
    border-style: none;
    height: 30px;
    width: 30px;
    background-color: white;
    color: grey;
    margin: 2px;
    margin-left: 0;
    border-radius: 2px;
    text-transform: uppercase;
    transition: 0.4s ease-in-out
}
.product-vertical-list .box-image .box-behind button:hover{
    background-color: #d4380d;
    color: white;
}
.product-vertical-list .box-image:hover .box-behind{
    transform: translateX(0);
}

.product-vertical-list .box-image:hover .pd-image{
    transform: scale(1.5);
}
.product-vertical-list .pd-tag{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #bfbfbf;
    color: white;
    font-size: 14px;
    width: 60px;
    height: 25px;
}
.product-vertical-list .box-header{
    display: flex;
    padding: 10px;
    align-items: center;
}
.product-vertical-list .box-header h6{
    margin-right: 12px;
    font-size: 17px;
}
.product-vertical-list .box-header p{
    width: 20px;
    height: 20px;
    border-radius: 2px;
}
.product-vertical-list .box-body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    padding-top: 0;
}
.product-vertical-list .box-body h5{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: large;
}
.product-vertical-list .box-body h6{
    font-size: 20px;
    margin-top: 7px;
    letter-spacing: 1px;
}
.product-vertical-list .box-body .old-price{
    text-decoration: line-through;
    margin-left: 5px;
    font-size: 16px;
    color: gray;
}
.product-vertical-list .box-body .new-price{
    color: #fb0000;
    color: brown;
    font-weight: bold;
}
.anticon-like{
    transform: translateY(-2px);
}
.comment-action{
    margin-left: 6px;
    font-size: 15px;
}
.anticon-like, .anticon-dislike{
    font-size: 18px;
}
.count-star{
    width: 50%;
}
.count-star .d-flex{
    margin-bottom: 10px;
}
.count-star .d-flex h6{
    min-width: 180px;
    margin-right: 20px;
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
}
.progress-circle{
    width: 40%;
}
.progress-container{
    justify-content: space-between;
    flex-wrap: wrap;
}
@media only screen and (max-width: 991px){
    .product-menu{
        min-height: 100%;
    }
    .count-star .d-flex h6{
        min-width: 110px;
    }
    .count-star{
        width: 100%;
        padding: 30px 10px;
    }
    .star{
        font-size: 15px;
    }
    .progress-circle{
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width: 991px){
    .menu-container .product-menu{
        display: none;
    }
    .reponsive-menu .product-menu{
        display: block;
    }
    .product-container{
        width: 100%;
    }
  }
@media screen and (max-width: 672px){
    .progress-container{
        justify-content: flex-start;
    }
    .count-star{
        width: 90%;
        padding: 30px 10px;
    }
    .count-star h6{
        min-width: 200px;
    }
    .progress-circle{
        width: 100%;
    }
    .sub-image-container img{
        width: 80%;
    }
    .sub-image-container{
        padding: 5px;
    }
    p.more-detail{
        font-size: 15px;
    }
    .detail-footer{
        justify-content: center;
    }
    .product-vertical-list .box-image img{
        max-height: 200px;
        width: auto;
    }
    .product-vertical-list .box-body{
        flex-direction: column;
        padding-top: 2px;
    }
    .product-vertical-list .box-body h5{
        font-size: medium;
    }
    .product-vertical-list .box-body h6{
        margin-top: 5px;
        font-size: 15px;
    }
    .product-vertical-list .box-header h6{
        font-size: small;
    }
    .product-vertical-list .box-body .old-price{
        font-size: small;
    }
    .product-vertical-list .box-header p{
        width: 15px;
        height: 15px;
    }
    .product-vertical-list .box-item.col-6{
        padding: 5px;
    }
    .product-vertical-list.container-fluid{
        padding: 15px;
    }
    .product-vertical-list .box-image{
        height: 200px;
    }
    .product-vertical-list .pd-tag{
        width: 50px;
        height: 23px;
    }
    .product-vertical-list .box-image .box-behind button{
        font-size: 10px;
    }
    i.left-icon{
        margin-right: 8px;
    }
}
