.product-banner{
    position: relative;
    margin-top: 110px;
    height: 300px;
    padding: 0;
}
.product-banner img{
    width: 100%;
    height: 300px;
    filter: brightness(70%);
    object-position: top;
}
.product-banner .product-banner-title h2{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translateY(-50%)translateX(-50%);
    z-index: 99;
    font-weight: bolder;
    border: 3px solid white;
    padding: 10px 30px; 
}
.detail-image-main{
    width: auto;
    max-height: 55vh;
    display: block;
    padding: 20px;
}
.detail-description{
    font-size: 16px;
    color: #434445;
}
.image-container{
    width: 100%;
    overflow: hidden;
    height: 60vh;
}
.sub-image-container{
    overflow: hidden;
    margin-top: 10px;
    cursor: pointer;
    padding: 10px 0;
}
.sub-image-container img{
    height: 100px;
    width: auto;
    display: block;
    margin: 0 auto;
}
.product-name{
    font-weight: bolder;
    position: relative;
}
.product-name::before{
    content: '';
    width: 100px;
    height: 5px;
    background-color: black;
    position: absolute;
    left: 0;
    bottom: -10px;
}
.product-price{
    font-weight: lighter;
    margin: 10px 0;
    margin-top: 5px;
}
.bg-e{
    background-color: #eee;
}
.detail-body li{
    font-size: 16px;
}
.detail-button{
    display: flex;
    margin-top: 20px;
}
.color-block-detail a{
    margin-left: 12px;
    border-radius: 2px;
    height: 30px;
    width: 30px;
}
.color-block-detail a:first-child{
    transform: scale(1.1);
    border: 1px solid grey;
    cursor: auto;
}
.color-detail{
    align-items: center;
}

.loading-image{
    min-height: 60vh;
    width: 100%;
}
.loading-sub-image{
    height: 100px;
}
.detail-image-button-container{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    bottom: -10px;
    display: flex;
    justify-content: space-between;
}
.detail-image-button-container button{
    color: black;
    border-style: none;
    font-size: 20px;
    background:transparent;
    z-index: 99;
    width: 35px;
    display: flex;
    align-items: center;
    height: 120px;
    justify-content: center;
}
.menu-container{
    width: 230px;
}
.product-container{
    width: calc(100% - 230px);
}
.reponsive-menu button{
    display: none;
}
.product-menu{
    min-height: 80vh;
    border-left: 0;
    padding: 20px 10px;
    width: 230px;
}
.product-menu-title{
    font-size: 18px;
    display: unset;
}
.product-menu h4{
    margin-bottom: 30px;
    padding-left: 15px;
    position: relative;
}
.product-menu h4 i{
    font-weight: lighter;
}
.product-menu h4::before{
    position: absolute;
    content: '';
    left: 15px;
    top: 40px;
    height: 2px;
    width: 70px;
    background-color: silver;
}
.product-menu-item{
    font-size: 16px;
    padding: 6px 18px;
    padding-right: 5px;
    display: block;
    text-transform: uppercase;
    transition: 0.5s;
}
.product-menu-item:hover{
    background-color: rgba(0, 0, 0, 0.03);
}
.product-menu-item.active{
    background-color: rgba(0, 0, 0, 0.04);
}
.product-menu .menu-color{
    width: 40px;
    height: 40px;
}
.display-list{
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.display-list i{
    font-size: 20px;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}
.display-list .ant-radio-button-wrapper-checked:not([class*=' ant-radio-button-wrapper-disabled']).ant-radio-button-wrapper:first-child{
    background: #d9d9d9;
}
.display-list .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
    border-color: #d9d9d9;
}
.display-list .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover{
    background: #d9d9d9;
}
.display-list .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled)::before{
    background-color: #d9d9d9;
}
.display-list .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled){
    background-color: #d9d9d9;
}
.fa-th, .fa-th-list{
    transform: translateY(1px);
}
.detail-service .ant-collapse-borderless{
    background-color: #fff;
    margin-top: 15px;
}
.box-item{
    animation: zoom 0.6s;
    transition: 0.6s;
}
.round{
    border-radius: 20px;
}
@keyframes zoom{
    from {
        transform: scale(0.5);
    }
    to{
        transform: scale(1);
    }
}
.product-vertical-list .box-image{
    overflow: hidden;
    background-color: #f0f0f0;
    height: 260px;
    position: relative;
}
.product-vertical-list .box-image img{
    width: auto;
    height: 260px;
    display: block;
    margin: 0 auto;
    padding: 20px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
    transform-origin: right;
}
.product-vertical-list .box-image .box-behind{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    height: 100%;
    width: 38px;
    padding: 8px;
    padding-left:0 ;
    transition: 0.3s;
    justify-content: flex-start;
    transform: translateX(40px);
}
.product-vertical-list .box-image .box-behind button{
    border-style: none;
    height: 30px;
    width: 30px;
    background-color: white;
    color: grey;
    margin: 2px;
    margin-left: 0;
    border-radius: 2px;
    text-transform: uppercase;
    transition: 0.4s ease-in-out
}
.product-vertical-list .box-image .box-behind button:hover{
    background-color: #d4380d;
    color: white;
}
.product-vertical-list .box-image:hover .box-behind{
    transform: translateX(0);
}
.product-vertical-list .box-image:hover .pd-image{
    transform: scale(1.5);
}
.product-vertical-list .pd-tag{
    position: absolute;
    top: 0;
    left: 0;
    background-color: #bfbfbf;
    color: white;
    font-size: 14px;
    width: 60px;
    height: 25px;
}
.product-vertical-list .box-header{
    display: flex;
    padding: 10px;
    align-items: center;
}
.product-vertical-list .box-header h6{
    margin-right: 12px;
    font-size: 17px;
}
.product-vertical-list .box-header p{
    width: 20px;
    height: 20px;
    border-radius: 2px;
}
.product-vertical-list .box-body{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    padding-top: 0;
}
.product-vertical-list .box-body h5{
    font-weight: bold;
    letter-spacing: 1px;
    font-size: large;
}
.product-vertical-list .box-body h6{
    font-size: 20px;
    margin-top: 7px;
    letter-spacing: 1px;
}
.product-vertical-list .box-body .old-price{
    text-decoration: line-through;
    margin-left: 5px;
    font-size: 16px;
    color: gray;
}
.product-vertical-list .box-body .new-price{
    color: #fb0000;
    font-weight: bold;
}
.product-horizontal-list .box-item{
    display: flex;
    border-top: 1px solid #eee;
    height: 100%;
}
.product-horizontal-list .box-image{
    height: 280px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.product-horizontal-list .box-image img{
    height: 240px;
    display: block;
    transition: 0.4s;
}
.product-horizontal-list .box-image:hover img{
    transform: scale(1.1);
}
.product-horizontal-list .box-body{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.product-action{
    margin-top: 10px;
}
.product-horizontal-list .box-body .color-display{
    display: flex;
    margin: 2px 0;
    align-items: center;
}
.product-horizontal-list .box-body .color-display p{
    width: 25px;
    height: 25px;
    border-radius: 2px;
    margin-left: 10px;
}
.product-horizontal-list .box-body .color-display h6{
    font-size: 18px;
}
.product-horizontal-list .box-body h5{
    font-weight: bold;
    font-size: 25px;
}
.product-horizontal-list .box-body .price{
    font-size: 25px;
}
.product-horizontal-list .new-price{
    color: red;
    font-weight: bold;
    font-size: 25px;
    margin-right: 10px;
}
.product-horizontal-list .old-price{
    text-decoration: line-through;
    color: silver;
    font-size: 17px;
    margin-top: 5px;
}
.anticon-like{
    transform: translateY(-2px);
}
.comment-action{
    margin-left: 6px;
    font-size: 15px;
}
.anticon-like, .anticon-dislike{
    font-size: 18px;
}
.count-star{
    width: 50%;
}
.count-star .d-flex{
    margin-bottom: 10px;
}
.count-star .d-flex h6{
    min-width: 180px;
    margin-right: 20px;
    padding-left: 0;
    display: flex;
    justify-content: flex-end;
}
.progress-circle{
    width: 40%;
}
.progress-container{
    justify-content: space-between;
    flex-wrap: wrap;
}
@media only screen and (max-width: 991px){
    .product-menu{
        min-height: 100%;
    }
    .count-star .d-flex h6{
        min-width: 110px;
    }
    .count-star{
        width: 100%;
        padding: 30px 10px;
    }
    .star{
        font-size: 15px;
    }
    .progress-circle{
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width: 991px){
    .menu-container .product-menu{
        display: none;
    }
    .reponsive-menu .product-menu{
        display: block;
    }
    .reponsive-menu button{
        display: block;
    }
    .product-container{
        width: 100%;
    }
    .product-banner{
        margin-top: 60px;
    }
    .product-banner .product-banner-title h2{
        font-size: medium;
    }
  }
@media screen and (max-width: 672px){
    .progress-container{
        justify-content: flex-start;
    }
    .count-star{
        width: 90%;
        padding: 30px 10px;
    }
    .count-star h6{
        min-width: 200px;
    }
    .progress-circle{
        width: 100%;
    }
    .sub-image-container img{
        width: 80%;
    }
    .sub-image-container{
        padding: 5px;
    }
    .detail-button{
        justify-content: center;
    }
    .product-vertical-list .box-image img{
        max-height: 200px;
        width: auto;
    }
    .product-vertical-list .box-image{
        height: 200px;
    }
    .product-vertical-list .box-body{
        flex-direction: column;
        padding-top: 2px;
    }
    .product-vertical-list .box-body h5{
        font-size: medium;
    }
    .product-vertical-list .box-body h6{
        margin-top: 5px;
        font-size: 15px;
    }
    .product-vertical-list .box-header h6{
        font-size: small;
    }
    .product-vertical-list .box-body .old-price{
        font-size: small;
    }
    .product-vertical-list .box-header p{
        width: 15px;
        height: 15px;
    }
    .product-vertical-list .box-item.col-6{
        padding: 5px;
    }
    .product-vertical-list.container-fluid{
        padding: 15px;
    }
    .product-vertical-list .box-image{
        height: 200px;
    }
    .pd-tag{
        width: 50px;
        height: 23px;
    }
     .box-image .box-behind button{
        font-size: 10px;
    }
    i.left-icon{
        margin-right: 8px;
    }
    .product-horizontal-list .box-item{
        margin-left: 0;
    }
    .product-horizontal-list .box-image{
        height: 100%;
        min-height: 220px;
    }
    .product-horizontal-list .box-image img{
        height: 120px;
    }
    .product-horizontal-list .box-body{
        margin-left: 10px;
        justify-content: space-between;
    }
    .product-horizontal-list .box-body h5{
        font-size: 18px;
    }
    .product-horizontal-list .box-body .price{
        font-size: medium;
        margin-top: 5px;
    }
    .product-horizontal-list .box-body .color-display p{
        height: 18px;
        width: 18px;
    }
    .product-action{
        flex-wrap: wrap;
        margin-top: 0;
    }
    .product-action .ml-2{
        margin-left: 0;
    }
    .product-horizontal-list .new-price{
        font-size: medium;
    }
    .product-horizontal-list .old-price{
        font-size: small;
    }
    .color-block-detail a{
        height: 25px;
        width: 25px;
        margin-left: 8px;
    }
}
