*{
  font-family: 'Poppins', sans-serif;
}
p{
  margin-bottom: 0;
}
body{
  background-color: #f8f9fa !important;
}
.mg-auto{
  margin: 0 auto;
}
button{
  outline: none !important;
  &:focus{
    outline: none !important;
  }
  &:active{
    outline: none !important;
  }
}
input[type="button"]{
  outline: none !important;
}
.d-flex{
  padding: 0;
}
.ant-affix{
  z-index: 999 !important;
}
@keyframes appear{
  from {
    opacity: 0.3;
  }
  to{
    opacity: 1;
  }
}
@keyframes disAppear{
  from {
    opacity: 1;
  }
  to{
    opacity: 0;
  }
}
.w-100{
  width: 100%;
}
.h-100{
  height: 100%;
}
.h-50vh{
  height: 50vh;
}
.pw-4{
  padding-left: 40px;
  padding-right: 40px;
}
.p-4{
  padding: 40px;
}
.p-3{
  padding: 30px;
}
.p-15{
  padding: 15px;
}
.pl-2{
  padding-left: 20px;
}
.pr-2{
  padding-right: 20px;
}
.mh-100{
  min-height: 100vh;
}
.component{
  margin-bottom: 30px;
  margin-top: 30px;
}
img{
  object-fit: cover;
}
img.logo{
  width: 180px;
  cursor: pointer;
  display: block;
  margin-right: 100px;
  height: 32px;
}
img.logo-small{
  width: 120px;
  cursor: pointer;
  display: block;
  height: 18px;
  margin: 20px 0;
}
.loading{
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: black;
  z-index: 9999999 !important;
  animation: disAppear 1s;
  animation-delay: 1.5s;
}
.giphy-embed{
  background-size: 300px 300px;
}

.loading h1{
  color: white;
}
i.left-icon{
  margin-right: 12px;
}
i.right-icon{
  margin-left: 20px;
}
.flex-mid{
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiper {
  width: 100%;
  height: 100%;
}
.ml-3{
  margin-left: 30px;
}
.ml-2{
  margin-left: 20px;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.tw{
  color: white;
  text-transform: uppercase;
}
.ts{
  font-size: large;
  color: silver;
}
.tw-large{
  font-size: large;
  color: white;
  margin-bottom: 4px;
}
.footer h6{
  font-weight: bolder;
  font-size: large;
  margin: 20px 0;
}
.footer h4, .footer h5{
  margin: 20px 0;
  font-weight: bolder;
}
.footer-end{
  border-top: 1px solid silver;
  padding: 15px 30px;
}
.footer-end p{
  color: silver;
}
.footer-end p i{
  margin-left: 5px;
}
.footer-bottom{
  margin-top: 50px;
}
.footer-mid{
  margin-top: 40px;
}
.footer .col-lg-8 p{
  max-width: 800px;
}
.iframe{
  margin-top: 20px;
  border-radius: 4px;
}
p.text-btn{
  text-transform: uppercase;
  font-weight: bold;
}
.media-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  background-color: #232425;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.6s;
}
.media-icon:hover{
  background-color: red;
}
.media-icon i{
  color: white;
  font-size: 18px;
}
.border-e{
  border-color: #eee;
}
.ant-input:hover, .ant-input:focus{
  border-color: silver !important;
  outline: none !important;
}
.ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before{
  display: none !important;
}
@media only screen and (min-width: 1200px){
  .component{
    padding-left: 140px;
    padding-right: 140px;
  }
}
.all-product{
  margin-top: 0;
  transform: translateY(-80px);
  background-color: #fff;
  padding-top: 30px;
  box-shadow: 1px 6px 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
@media only screen and (max-width: 672px){
  .component{
    margin-top: 10px;
  }
  .component.all-product{
    margin-top: 0;
    transform: translateY(0);
  }
  .container{
    overflow: hidden;
  }
  .pw-4{
    padding-left: 20px;
    padding-right: 20px;
  }
}
