p{
  margin-bottom: 0;
}
.w-100{
  width: 100%;
}
.h-100{
  height: 100%;
}
.pw-4{
  padding-left: 40px;
  padding-right: 40px;
}
.p-4{
  padding: 40px;
}
.p-3{
  padding: 30px;
}
.mh-100{
  min-height: 100vh;
}
.component{
  margin-top: 150px;
}
img{
  object-fit: cover;
}
img.logo{
  width: 150px;
  cursor: pointer;
  display: block;
  margin-right: 100px;
}
i.left-icon{
  margin-right: 12px;
}
i.right-icon{
  margin-left: 20px;
}